@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');


header #caixinha {
    background-color: purple;
}

hgroup h5:hover {
    color: purple;
    text-shadow: -4px 3px 3px rgba(0, 0, 0, 0.8);
}

nav #cor1:hover {
    color: var(--texto);
    border-bottom: 2px solid var(--texto);
}

nav #cor2:hover {
    color: var(--ciano);
    border-bottom: 2px solid var(--ciano);
}

nav #cor3:hover {
    color: red;
    border-bottom: 2px solid red;
}

nav #cor4 {
    font-weight: 600;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

section#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    transition: 1s ease-in;
}

section#container #btn {
    z-index: 1;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transform: translate(-5px, 0px);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    transition: 1s;
}

section#container #btn:hover {
    scale: 1.8;
}

section#container #btn.ativo {
    scale: 1.8;
    background-color: #FFFFFF;   
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 17px;
    left: 17px;
    opacity: 0%;
    border-radius: 20%;
    box-shadow: 0px 0px 0px white;
    transition: transform 1s ease-out, opacity 1s ease-out, box-shadow .3s;
}

.icones {
    width: 80px;
    height: 80px;
}

section#container p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 17px;
}

section#container a:hover {
    text-decoration: underline;
}

.v1 {
    color: #000000;
}

.v2 {
    color: #FFFFFF;
}

#card-git {
    color: #000000;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

#card-email {
    border: 2px solid #FFFFFF;
    background-color: #dd4f43;
}

#card-front {
    color: #000000;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

#card-link {
    border: 2px solid #FFFFFF;
    background-color: #0077b5;
}

#card-fcc {
    color: black;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

#card-insta {
    border: 2px solid #FFFFFF;
    background-color: #d32789;
}

footer #email, #redes-sociais {
    display: none;
}

#corpo, footer {
    transition: background-color .9s ease-out, color .9s ease-out;
}