@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');


header #caixinha {
    background-color: purple;
}

hgroup h5:hover {
    color: purple;
}

nav #cor1:hover {
    color: var(--texto);
    border-bottom: 2px dashed var(--texto);
}

nav #cor2:hover {
    color: var(--ciano);
    border-bottom: 2px dashed var(--ciano);
}

nav #cor3:hover {
    color: red;
    border-bottom: 2px dashed red;
}

nav #cor4 {
    font-weight: 600;
    font-size: 18px;
}

section.container {
    display: flex;
    flex-direction: row;
}

.container a {
    color: black;
    text-decoration: none;
    height: 271.5px;
    width: 100vw;
}

section.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 2s;
    border: 1px solid black;
}

.container div:hover span {
    opacity: 100%;
}

.container div:hover h2 {
    opacity: 100%;
}

section.container span {
    background-size: cover;
    height: 100px;
    width: 100px;
    opacity: 40%;
    transition: 1.5s;
}

section.container h2 {
    font-family: "montserrat alternates", sans-serif;
    font-size: 25px;
    padding-top: 25px;
    opacity: 40%;
    transition: 1.5s;
}

#github {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #ffffff 70%, #999999 100%);
}

#github span {
    background-image: url("../svgs/contatos/git-red.png");
    scale: 1.4;
}

#instagram {
    background-color: rgba(16, 245, 232, 96%);
    background-image: linear-gradient(180deg, #10F5E8 70%, #0A8F87 100%);
}

#instagram span {
    background-image: url("../svgs/contatos/insta.png");
}

#gmail {
    background-color: rgba(255, 0, 0, 71%);
    background-image: linear-gradient(180deg, #f13d3d 70%, #9f0707 100%);
}

#gmail span {
    background-image: url("../svgs/contatos/gmail.png");
}

#linkedin {
    background-color: rgb(66, 255, 19);
    background-image: linear-gradient(180deg, #42FF13 70%, #28990B 100%);
}

#linkedin span {
    background-image: url("../svgs/contatos/link.png");
}

#facebook {
    background-color: rgba(15, 102, 232, 96%);
    background-image: linear-gradient(180deg, #0F66E8 70%, #093982 100%);
}

#facebook span {
    background-image: url("../svgs/contatos/face.png");
}

#tel {
    background-color: rgba(250, 255, 0, 86%);
    background-image: linear-gradient(180deg, rgba(250, 255, 0, 70%), rgba(150, 153, 0) 100%);
}

#tel span {
    background-image: url("../svgs/contatos/tel.png");
}

#github:hover,
#instagram:hover,
#gmail:hover,
#linkedin:hover,
#facebook:hover,
#tel:hover {
    height: 72vh;
}


footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

@media screen and (max-width: 376px) {
    body {
        display: flex;
    flex-direction: column
}

hgroup {
    background-color: purple;
}

nav #cor1
nav #cor2
nav #cor3
nav #cor4

}
continuar daqui paizão.