@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --amarelo: #F3F80C;
    --ciano: rgba(0, 255, 255);
    --texto: #000000;
}

/*Efeito Nav*/
span#caixinha {
    background-color: var(--ciano)
}

hgroup h5:hover {
    color: rgba(0, 255, 255);
    text-shadow: -2px 1px 3px rgba(0, 0, 0, 1);
}

nav #cor1:hover {
    border-bottom: 2px solid var(--texto);
}

nav #cor2 {
    font-weight: 600;
    font-size: 18px;
}

nav #cor3:hover {
    color: rgba(255, 0, 0);
    border-bottom: 2px solid rgba(255, 0, 0);
}

nav #cor4:hover {
    color: purple;
    border-bottom: 2px solid purple;
}

/*Estilização Pagina*/
aside {
    position: fixed;
    display: flex;
    right: 0px;
    top: 210px;
    z-index: 0;
    transition: .5s;
}

.btn {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    opacity: 30%;
    transition: 1s;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
}

.btn:hover {
    opacity: 100%;
    background-color: #FFFFFF;
}

.btn span::after {
    content: ">";
    font-size: 3em;
}

.onBtn span::after {
    content: "<";
}

aside nav.menu-lateral {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 300px;
    margin-right: -80px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 10px;
    transition: .8s;
}

aside nav.onMenu {
    margin-right: 0px;
}

div#b1,
div#b2,
div#b3,
div#b4 {
    display: grid;
    place-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    transition: .5s;
    border-radius: 10px;
    font-weight: 500;
    font-family: "montserrat", sans-serif;
}

div#b1:hover,
div#b2:hover,
div#b3:hover,
div#b4:hover {
    scale: 1.2;
    font-size: 34px;
}

div#b1 {
    border: 4px solid purple;
    color: purple;
}

div#b1:hover {
    background-color: purple;
    color: white;
}

div#b2 {
    border: 4px solid rgb(244, 237, 35);
    color: rgb(244, 237, 35);
}

div#b2:hover {
    background-color: rgb(244, 237, 35);
    color: white;
}

div#b3 {
    border: 4px solid red;
    color: red;
}

div#b3:hover {
    background-color: red;
    color: white;
}

div#b4 {
    border: 4px solid cyan;
    color: cyan;
}

div#b4:hover {
    background-color: cyan;
    color: white;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    margin: 100px 0px 110px 0px;
    background-color: var(--ciano);
}

#titulo h1 {
    font-family: "montserrat alternates", sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 50px 160px;
    border: 5px solid white;
    transition: 1s;
}

#titulo h1:hover {
    background-color: white;
    color: var(--ciano);
}


/*Estilização Sections 110px Bottom*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 1080px;
    border: 5px solid black;
}

section#bloco-um {
    margin-bottom: 150px;
    height: auto;
}

summary {
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.summaryOn1 {
    text-shadow: -5px 3px 3px rgba(128, 0, 128, .7);
}

.summaryOn2 {
    text-shadow: -5px 3px 3px rgb(233, 226, 17);
}

.summaryOn4 {
    text-shadow: -5px 3px 3px rgba(0, 255, 255, .7);
}

#formacao-bg {
    display: flex;
    align-items: center;
    height: 70px;
    width: 275px;
    margin: -75px 0px 30px -18px;
    background-color: white;
}

#cursos-bg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    width: 590px;
    margin: -75px 0px 45px 415px;
    background-color: white;
}

#habilidades-bg {
    display: flex;
    align-items: center;
    height: 70px;
    width: 320px;
    margin: -75px 0px 45px -20px;
    transform: translateX(350px);
    transform: translateX(350px);
    background-color: white;
}

#especial-bg h1 {
    font-size: 45px;
    font-weight: 700;
    font-family: "montserrat alternates", sans-serif;
}

#especial-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 660px;
    transform: translate(220px, -45px);
    background-color: white;
}

/*.le .ld variações*/
.le {
    padding: 35px 40px;
    text-align: left;
}

.ld {
    padding: 35px 40px;
    text-align: right;
}

.le h1,
.ld h1 {
    font-family: "montserrat alternates", sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.le h1 {
    margin-left: 17px;
}

.ld h1 {
    margin-right: 18px;
}

.le h2,
.ld h2 {
    font-family: "montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.le h3,
.ld h3 {
    font-family: "montserrat", sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 45px;
}

.le h4,
.ld h4 {
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.le p,
.ld p,
.le li,
.ld li {
    font-family: "montserrat", sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.le p,
.ld p {
    text-align: justify;
}

.le p {
    margin-right: 330px;
}

.ld p {
    margin-left: 330px;
    margin-bottom: 80px;
}

.le li,
.ld li {
    margin-bottom: 4px;
}

.le ul, .ld ul {
    margin-bottom: 41px;
    margin-left: 20px;
}

.areas {
    margin-bottom: 110px;
}

.negrito {
    font-weight: 700;
    font-size: 34px;
}

.traco {
    display: block;
    width: 300px;
    height: 5px;
    border-radius: 50px;
    background-color: black;
    margin: 50px auto 50px auto;
}

span.unc {
margin-bottom: 10px;
}

section#botao-pdf {
    display: flex;
    justify-content: center;
    margin: -20px 0px 80px 0px;
}

#botao-pdf button {
    width: 450px;
    height: 115px;
    border-radius: 50px;
    font-family: "monteserrat alternates", sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: 1s;
    color: white;
    border: 5px solid white;
    background-color: var(--ciano);
}

#botao-pdf button:hover {
    color: var(--ciano);
    border: 5px solid var(--ciano);
    background-color: rgba(0, 0, 0, .0);
}

@media screen and (max-width: 376px) {
    header hgroup {
        background-color: var(--ciano);
    }


    nav #cor2 {
        color: #ffffff;
        font-weight: 700;
        transition: 1s;
        font-size: 13px;
        background-color: var(--ciano);
    }

    nav #cor1,
    #cor3,
    #cor4 {
        color: #ffffff;
        opacity: 60%;
        transition: 1s;
        font-size: 11px;
    }

    nav #cor1 {
        background-color: var(--texto);
    }

    nav #cor3 {
        background-color: rgba(255, 0, 0);
    }

    nav #cor4 {
        background-color: purple;
    }

    nav #cor1:hover,
    #cor3:hover,
    #cor4:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: none;
    }

    footer {
        background-color: cyan;
    }

    body {
        width: 100vw;
        overflow-x: scroll;
    }

    aside {
        position: fixed;
        right: 0px;
        top: 200px;
        z-index: 0;
    }

    aside nav.menu-lateral {
        width: 60px;
        height: 225px;
        margin-right: -65px;
    }

    aside nav.onMenu {
        margin-right: 0px;
    }

    div#b1,
    div#b2,
    div#b3,
    div#b4 {
        display: grid;
        place-items: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        transition: .5s;
    }

    div#b1:hover,
    div#b2:hover,
    div#b3:hover,
    div#b4:hover {
        scale: 1.2;
        font-size: 20px;
    }

    div#b1 {
        border: 3px solid purple;
    }

    div#b2 {
        border: 3px solid rgb(244, 237, 35);
    }

    div#b3 {
        border: 3px solid red;
    }

    div#b4 {
        border: 3px solid cyan;
    }

    #titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        height: 160px;
        margin: 100px 0px 110px 0px;
        background-color: var(--ciano);
        z-index: 2;
    }

    #titulo h1 {
        font-family: "montserrat alternates", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        padding: 25px 55px;
        border: 5px solid white;
        transition: 1s;
    }

    /*Tamanho das sessões*/
    main section {
        width: 310px;
        border: 3px solid black;
    }

    section#bloco-um {
        margin-bottom: 130px;
    }

    .summaryOn1 {
        text-shadow: -2px 1px 1px rgba(128, 0, 128, .7);
    }

    .summaryOn2 {
        text-shadow: -2px 1px 1px rgb(233, 226, 17);
    }

    .summaryOn4 {
        text-shadow: -2px 1px 1px rgba(0, 255, 255, .7);
    }

    #formacao-bg {
        justify-content: center;
        width: 150px;
        margin: -70px auto 15px auto;
        background-color: white;
    }

    #cursos-bg {
        justify-content: center;
        height: 50px;
        width: 275px;
        margin: -60px auto 45px auto;
        background-color: white;
    }

    #habilidades-bg {
        justify-content: center;
        height: 50px;
        width: 170px;
        margin: -63px auto 45px auto;
        background-color: white;
    }

    #especial-bg h1 {
        font-size: 20px;
        font-weight: 700;
    }

    #especial-bg {
        height: 55px;
        width: 285px;
        margin: -30px auto 0px auto;
        background-color: white;
    }

    .le {
        padding: 35px 25px;
        text-align: center;
    }

    .ld {
        padding: 35px 25px;
        text-align: center;
    }

    .le h1 {
        font-size: 20px;
        margin-left: 0px;
    }

    .ld h1 {
        font-size: 20px;
        margin-right: 0px;
    }

    .le h2,
    .ld h2 {
        font-size: 18px;
    }

    .le h3,
    .ld h3 {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .ld .encurta {
        font-size: 13px;
    }

    .le h4,
    .ld h4 {
        font-size: 13px;
    }

    .le p,
    .ld p,
    .le li,
    .ld li {
        font-size: 12px;
    }

    .le p,
    .ld p {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .le li,
    .ld li {
        margin-bottom: 4px;
    }

    .le ul {
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .ld ul {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .areas {
        margin-bottom: 100px;
    }

    .traco {
        width: 100px;
        height: 2px;
        margin: 10px auto 15px auto;
    }

    section#botao-pdf {
        margin: -40px 0px -120px 0px;
    }

    #botao-pdf button {
        width: 300px;
        height: 85px;
        border-radius: 40px;
        font-size: 22px;
    }
}

@media screen and (min-width: 377px) and (max-width: 415px) {
    header hgroup {
        background-color: var(--ciano);
    }

    hgroup h5:hover {
        color: black;
    }

    nav #cor1 {
        color: #ffffff;
        opacity: 60%;
        background-color: var(--texto);
    }

    nav #cor2 {
        color: #ffffff;
        font-weight: 700;
        transition: .5s;
        font-size: 12px;
        background-color: var(--ciano);
    }

    nav #cor3 {
        color: #ffffff;
        opacity: 60%;
        transition: .5s;
        background-color: rgba(255, 0, 0);
    }

    nav #cor4 {
        color: #ffffff;
        opacity: 60%;
        transition: .5s;
        background-color: purple;
    }

    header nav #cor1:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    header nav #cor3:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    header nav #cor4:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    footer {
        background-color: var(--ciano);
    }

    /*Estilização Pagina Curriculo*/
    body {
        height: auto;
        width: 100vw;
        overflow-x: scroll;
    }

    aside {
        position: fixed;
        right: 0px;
        top: 210px;
        z-index: 0;
    }

    aside nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 50px;
        height: 200px;
        margin-right: -2px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 10px 0px 0px 10px;
    }

    div#b1,
    div#b2,
    div#b3,
    div#b4 {
        display: grid;
        place-items: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        transition: .5s;
    }

    div#b1:hover,
    div#b2:hover,
    div#b3:hover,
    div#b4:hover {
        scale: none;
        font-size: 20px;
    }

    div#b1 {
        border: 3px solid purple;
    }

    div#b2 {
        border: 3px solid black;
    }

    div#b3 {
        border: 3px solid red;
    }

    div#b4 {
        border: 3px solid cyan;
    }

    #titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        height: 160px;
        margin: 100px 0px 110px 0px;
        background-color: var(--ciano);
        z-index: 2;
    }

    #titulo h1 {
        font-family: "montserrat alternates", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        padding: 25px 55px;
        border: 5px solid white;
        transition: 1s;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Tamanho das sessões*/
    main section {
        width: 330px;
        border: 3px solid black;
    }

    #formacao-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 150px;
        margin: -70px auto 15px auto;
        background-color: white;
    }

    #cursos-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 275px;
        margin: -60px auto 45px auto;
        background-color: white;
    }

    #habilidades-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 170px;
        margin: -63px auto 45px auto;
        background-color: white;
    }

    #especial-bg h1 {
        font-size: 20px;
        font-weight: 700;
        font-family: "montserrat alternates", sans-serif;
    }

    #especial-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        width: 285px;
        margin: -30px auto 0px auto;
        background-color: white;
    }

    .le {
        padding: 35px 25px;
        text-align: center;
    }

    .ld {
        padding: 35px 25px;
        text-align: center;
    }

    .le h1 {
        font-size: 20px;
        margin-left: 0px;
    }

    .ld h1 {
        font-size: 20px;
        margin-right: 0px;
    }

    .le h2,
    .ld h2 {
        font-family: "montserrat", sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .le h3,
    .ld h3 {
        font-family: "montserrat", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .le h4,
    .ld h4 {
        font-family: "montserrat", sans-serif;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .le p,
    .ld p,
    .le li,
    .ld li {
        font-family: "montserrat", sans-serif;
        font-size: 10px;
        font-weight: 300;
    }

    .le p,
    .ld p {
        text-align: justify;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .le li,
    .ld li {
        margin-bottom: 4px;
    }

    .le ul {
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .ld ul {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .areas {
        margin-bottom: 100px;
    }

    span.traco {
        display: block;
        width: 150px;
        height: 5px;
        border-radius: 50px;
        margin: 10px auto 15px auto;
        background-color: black;
    }

    section#botao-pdf {
        display: flex;
        justify-content: center;
        margin: -40px 0px -120px 0px;
    }

    #botao-pdf button {
        width: 300px;
        height: 85px;
        border-radius: 40px;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
}