@charset "utf-8";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --amarelo: #F3F80C;
    --ciano: rgba(0, 255, 255);
    --texto: #000000;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

hgroup #caixinha {
    background-color: rgba(255, 0, 0);
}

hgroup h5:hover {
    color: red;
}

nav #cor1:hover {
    color: var(--texto);
    font-weight: 500;
    border-bottom: 2px dashed var(--texto);
}

nav #cor2:hover {
    color: var(--ciano);
    font-weight: 500;
    border-bottom: 2px dashed var(--ciano);
}

nav #cor3 {
    color: var(--texto);
    font-weight: 600;
    font-size: 16px;
}

nav #cor4:hover {
    color: purple;
    font-weight: 500;
    border-bottom: 2px dashed purple;
}

/*Main Estilização*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

main div#area-titulo {
    display: flex;
    flex-direction: column;
}

main span.marcador {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .6);
}

.um {
    background-color: purple;
}

.dois {
    background-color: cyan
}

.tres {
    background-color: red;
}

h1.titulo {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
    display: inline-block;
    width: 1200px;
    margin-right: -30px;
    margin-bottom: 30px;
}

section#frontend,
section#pessoais,
section#especiais {
    width: 1200px;
    height: auto;
    margin-bottom: 120px;
    border-radius: 10px;
    border: 3px solid black;
}

#frontend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px 60px 0px;
    background-color: purple;
}

figure.foto-legenda {
    height: 270px;
    width: 320px;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}

figure.foto-legenda:hover {
    scale: 1.1;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.foto-legenda figcaption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
    transition: 1s;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: rgba(0, 0, 0, .5);
}

.foto-legenda figcaption h1 {

    color: #FFFFFF;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.foto-legenda figcaption p {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#pessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 60px 0px;
    background-color: cyan;
}

#pessoais figure {
    width: 1055px;
    height: 600px;
    position: relative;
    transition: 1s;
}

#pessoais figure:hover figcaption {
    opacity: 0;
}

#pessoais img {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

#pessoais figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 1;
    transition: 1s;
    cursor: default;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
}

#pessoais figcaption h1 {
    font-size: 40px;
    margin: -20px 0px 10px 0px;
    color: #FFFFFF
}

#pessoais figcaption p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

#especiais {
    display: grid;
    place-items: center;
    background-color: red;
}

#especiais figure {
    Width: auto;
    height: auto;
}

@media screen and (max-width:376px) {
    header {
        margin-bottom: 20px;
    }

    hgroup {
        background-color: red;
    }

    hgroup h5:hover {
        color: black;
    }

    nav #cor1 {
        color: #ffffff;
        opacity: 60%;
        background-color: var(--texto);
    }

    nav #cor2 {
        color: #ffffff;
        opacity: 60%;
        background-color: var(--ciano);
    }

    nav #cor3 {
        color: #ffffff;
        font-weight: 700;
        font-size: 12px;
        transition: .5s;
        background-color: rgba(255, 0, 0);
    }

    nav #cor4 {
        color: #ffffff;
        opacity: 60%;
        transition: .5s;
        background-color: purple;
    }

    header nav #cor1:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    header nav #cor2:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    header nav #cor4:hover {
        color: #ffffff;
        opacity: 100%;
        border-bottom: 0px;
    }

    footer {
        background-color: red;
    }

    body {
        overflow-x: scroll;
    }

    hgroup #caixinha {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    main div#area-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main span.marcador {
        display: none;
    }

    h1.titulo {
        display: block;
        text-align: center;
        font-size: 20px;
        width: auto;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
        margin: 0px 0px 10px 0px;
    }

    section#frontend,
    section#pessoais {
        width: 320px;
        height: auto;
        margin-bottom: 120px;
        border-radius: 10px;
        border: 2px solid black;
    }

    section#especiais {
        width: 320px;
        height: auto;
        margin-bottom: 0px;
        border-radius: 10px;
        border: 2px solid black;
    }

    #frontend {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0px 20px 0px;
        background-color: purple;
    }

    figure.foto-legenda {
        height: 100px;
        width: 120px;
        position: relative;
        border-radius: 10px;
        transition: 1s;
    }

    figure.foto-legenda:hover {
        scale: 1.1;
    }

    figure.foto-legenda:hover figcaption {
        opacity: 1;
        border: 2px solid #FFFFFF;
    }

    .foto-legenda img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .foto-legenda figcaption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        opacity: 0;
        transition: 1s;
        border-radius: 10px;
        border: 3px solid #000000;
        background-color: rgba(0, 0, 0, .5);
    }

    .foto-legenda figcaption h1 {
        color: #FFFFFF;
        font-size: 12px;
        padding: 5px;
        margin-bottom: 5px;
    }

    .foto-legenda figcaption p {
        color: #FFFFFF;
        font-size: 10px;
        padding: 5px;
        text-align: center;
    }

    #pessoais {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 20px 0px;
        background-color: cyan;
    }

    #pessoais figure {
        width: auto;
        height: auto;
        position: relative;
        transition: 1s;
    }

    #pessoais figure:hover figcaption {
        opacity: 0;
    }

    #pessoais img {
        height: 100%;
        width: 100%;
        border-top: 1px solid black;
        border-right: none;
        border-bottom: 1px solid black;
        border-left: none;
    }

    #pessoais figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        opacity: 1;
        transition: 1s;
        cursor: default;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, .5);
    }

    #pessoais figcaption h1 {
        font-size: 35px;
        margin: -20px 0px 10px 0px;
        color: #FFFFFF
    }

    #pessoais figcaption p {
        text-align: center;
        font-size: 15px;
        color: #FFFFFF;
    }

    #especiais {
        display: grid;
        place-items: center;
        background-color: red;
    }

    #especiais figure {
        Width: auto;
        height: auto;
    }
}