@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');

@keyframes muda-cor {
    from { 
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
:root {
    --amarelo: #F3F80C;
    --ciano: rgba(0,255,255);
    --texto: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

/*

section#container-tudo {
    display: flex;
    flex-direction: column;
    width: 1350px;
    height: 830px;
}

*/

/*Estilização Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100px;
    width: 100vw;
    z-index: 2;
    background-color: rgba(255,255,255);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

header hgroup {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

hgroup #caixinha {
    width: 23px;
    height: 23px;
    margin-right: 20px;
    background-color: #fff000;
    border: 2px dashed #000000;
}

hgroup #caixinha:hover {
    animation: muda-cor 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

hgroup h5 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 15px;
    transition: 1s;
}

hgroup h5:hover {
    color: rgba(0,255,255);
    cursor: default;
}

hgroup h6 {
    font-family: "Monteserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 6px;
}

hgroup h6:before {
    content: "/";
    padding-right: 10px;
}

hgroup h6:hover {
    cursor: default;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-top: 5px;
    margin-right: 45px;
}

nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px dashed white;
    transition: 1s;
}

nav #cor1 {
    color: rgba(0,255,255);
    font-weight: 500;
}

nav #cor2:hover {
    color: rgb(0, 188, 0);
    font-weight: 500;
    border-bottom: 2px dashed rgb(0, 188, 0);
}
nav #cor3:hover {
    color: rgba(255,0,0);
    font-weight: 500;
    border-bottom: 2px dashed rgba(255,0,0);
}
nav #cor4:hover {
    color: purple;
    font-weight: 500;
    border-bottom: 2px dashed purple;
}

/*Estilização section#principal*/
main {
    display: flex;
    height: 670px;
    padding-left: 70px;
}

section#principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#principal h1 {
    font-family: "montserrat alternates", sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: 60px 0px 30px -8px;
    text-shadow: -5px 6px 1px #fff000;
}

#principal h3 {
    font-family: "monteserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 387px 45px 0px;
}

#principal #texto {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-right: 400px;
    line-height: 25px;
}

#principal i {
    font-style: normal;
    font-weight: 500;
}

#principal #s1 {
    color: orange;
}

#principal #s2 {
    color: lightseagreen;
}

section#botoes {
    display: flex;
    gap: 38px;
    margin-bottom: 45px;
}

#botoes div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    border-radius: 40px;
}

#botoes #b1 {
    font-family: "montserrat alternates", sans-serif;
    background-color: rgba(0,255,255);
    color: rgba(255,255,255);
    border: 2px solid cyan;
    transition: 1s;
}

#botoes #b1:hover {
    background-color: rgb(255,255,255);
    color: rgb(0,255,255);
}

#botoes #b2 {
    font-family: "montserrat", sans-serif;
    border: 2px solid rgba(0,0,0);
    background-color: rgba(255,255,255);
    color: rgba(0,0,0);
    transition: 1s;
}

#botoes #b2:hover {
background-color: rgb(0,0,0);
color: rgb(255,255,255);
}

#botoes p {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

/*Estilização aside*/
aside {
    width: 40%;
    background-color: rgba(0,255,255);
}

div#juncao-cartao {
    width: 280px;
    margin-top: 105px;
    margin-left: -110px;
    scale: 1.2;
}

section#cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 335px;
    background-color: #fff000;
}

#cartao img {
    width: 200px;
    height: 180px;
    border-radius: 100%;
    margin: 15px 0px 10px 0px;
    transition: 1s;
}

#cartao img:hover {
    scale: 1.05;
}

#cartao h3 {
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0px 95px 10px 95px;
}

#cartao #traco {
    width: 60px;
    height: 4px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0);
}

#cartao p {
    font-family: "montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

section#rodape-cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    gap: 22px;
    background-color: rgba(255,255,255);
}

#rodape-cartao img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    opacity: 60%;
    transition: 1s;
}

#rodape-cartao img:hover {
    opacity: 100%;
    scale: 1.3;
}

/*Estilização Footer*/
footer {
    display: flex;
    justify-content: space-between;
    height: 87px;
    background-color: rgba(255,255,255);
}

footer section#esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-left: 32px;
}

#esquerda p {
    font-family: "monteserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

footer section#direita {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}

#email, #telefone, #redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#direita h7 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-family: 15px;
    margin-bottom: 10px;
}

#direita p {
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 1s;
}

#telefone p:hover {
color: rgb(40, 225, 230);
}

#email p:hover {
    color: rgba(245, 42, 245); 
} 

#redes-sociais img {
    width: 23px;
    height: 23px;
    opacity: 60%;
    transition: 1s;
}

#redes-sociais img:hover {
    opacity: 100%;
    scale: 1.1;
}

@media screen and (max-width:376px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        overflow-x: visible;
    }

/*Formatação do Cabeçalho*/
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        bottom: 100px;
        height: 150px;
        box-shadow: none;
    }

    header hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 15px 0px 20px 0px;
        background-color: var(--amarelo);
    }
    
    hgroup #caixinha {
        display: none;
    }
    
    hgroup h5 {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-right: 0px;
    }
    
    hgroup h5:hover {
        color: var(--texto);
    }
    
    hgroup h6 {
        font-family: "Monteserrat", sans-serif;
        font-weight: 400;
        font-size: 17px;
        margin-top: 0px;
    }
    #elemento-1 {
        width: 150px;
        height: 5px;
        background-color: var(--texto);
        margin-top: -2px;
        border-radius: 5px;
    }
    #elemento-2 {
        width: 150px;
        height: 2px;
        background-color: var(--texto);
        margin-top: -2px;
        border-radius: 5px;
    }

    hgroup h6:before {
        display: none;
    }

    nav {
        width: 100vw;
        height: 80px;
        position: sticky;  
        background-color: #ffffff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
    }

    header ul {  
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        font-size: 12px;
        margin: 25px 15px 0px 0px;
    }
    
    header li a {
        padding: 5px;
        border-radius: 5px;
        border: 0px;
    }
    
    header #cor1 {
        color: #ffffff;
        font-weight: 700;
        background-color: var(--ciano);
    }

    header #cor2 {
        color: #ffffff;  
        background-color: rgb(0, 188, 0); 
    }

    header #cor3 {
        color: #ffffff;
        background-color: rgba(255,0,0);
    }

    header #cor4 {
        color: #ffffff;
        background-color: purple;
    }
    
    header #cor2:hover {
        color: #ffffff;
        font-weight: 400;
        border-bottom: 0px;
    }

    header #cor3:hover {
        color: #ffffff;
        font-weight: 400;
        border-bottom: 0px;
    }

    header #cor4:hover {
        color: #ffffff;
        font-weight: 400;
        border-bottom: 0px;
    }
/*Conteudo Central*/
    main {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 90px 0px 0px 0px;
    }
    
    section#principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    
    #principal h1 {
        font-size: 50px;
        margin: 0px 0px 43px 0px;
        text-shadow: none;
    }
    
    #principal h3 {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        margin: 0px 30px 55px 30px;
    }
    
    #principal #texto {
        font-size: 13px;
        font-weight: 300;
        line-height: 25px;
        margin: 0px 15px 55px 14px; 
    }
    
    section#botoes {
        display: flex;
        gap: 16px;
        margin-bottom: 70px;
    }
    
    #botoes div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 35px;
        border-radius: 40px;
    }
    
    #botoes p {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
    }
    
/*Formatação do Aside*/
    aside {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        width: 100%;
        height: 211px;
        background-color: var(--amarelo); 
        box-shadow: 0px 3px 4px rgba(0,0,0,.6);   
    }

    div#juncao-cartao {
        width: 229px;
        margin-top: -35px;
        margin-left: 0px;
        scale: 1;
    }
    
    section#cartao {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 246px;
        background-color: var(--ciano);
    }
    
    #cartao img {
        width: 118px;
        height: 106px;
        border-radius: 22px;
        margin: 20px 0px 5px 0px;
        transition: 1s;
        border: 1px solid black;
    }
    
    #cartao img:hover {
        scale: 1.05;
    }
    
    #cartao h3 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0px 20px 0px;
    }
    
    #cartao #traco {
        width: 60px;
        height: 4px;
        margin-bottom: 15px;
        background-color: rgba(0,0,0);
    }
    
    #cartao p {
        font-size: 13px;
    }
    
    section#rodape-cartao {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        gap: 19px;
        background-color: rgba(255,255,255);
    }
    
    #rodape-cartao img {
        width: 22px;
        height: 22px;
        margin-top: 5px;
        opacity: 60%;
        transition: 1s;
    }
    
    #rodape-cartao img:hover {
        opacity: 100%;
        scale: 1.3;
    }

    footer {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: var(--amarelo);
    }
    
    footer section#esquerda {
        gap: 10px;
        margin-left: 11px;
        margin-top: 10px;
    }
    
    #esquerda p {
        font-size: 10px;
    }
    
    footer section#direita {
        display: flex;
        align-items: center;
        gap: 0px;
        margin-right: 18px;
        margin-top: 10px;
    }
    
    #email, #telefone {
        display: none;
    }
    
    #direita h7 {
        font-family: "montserrat", sans-serif;
        font-weight: 800;
        font-family: 12px;
        margin-bottom: 10px;
    }
    
    #redes-sociais img {
        width: 21px;
        height: 21px;
        opacity: 60%;
        transition: 1s;
    }
    
    #redes-sociais img:hover {
        opacity: 100%;
        scale: 1.1;
    }
    
}

